@model IEnumerable<MayAnhHN3.Models.ProDetail>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RemainQuantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoldQuantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ViewQuantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.ProName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Supplier.SupName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RemainQuantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoldQuantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ViewQuantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.ProName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Supplier.SupName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProDeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProDeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProDeID })
        </td>
    </tr>
}

</table>
